{% extends 'sideindex.html' %}
{% block common %}
    {% load static %}
    <br><br><br>
<table align="center" border="0">
       <tr><!--<th style="text-align: right">-->
           <!--<img src="{% static 'images/create.png' %}" width="150" height="150"></th>
           <th><img src="{% static 'images/refresh.png' %}" width="170" height="170"></th>-->
           <th><img src="{% static 'images/page-views.png' %}" width="170" height="170">
       </th>
       </tr>
       <tr>
          <!-- <th style="text-align: right" width="500" height="100"><a href="/createagent/">Create Agent</a> </th>
        <th width="500" height="100"><a href="/editagent/">Update Agent</a> </th>-->
        <th height="100"><a href="/viewallagents/">View Agent</a> </th>
       </tr>
</table>

{% endblock %}