{% extends 'sideindex.html' %}
{% block common %}
    {% load static %}
    <br><br>
<form action="/agentregister/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table align="center">
    <tr><th colspan="2">{% if message %}
        <div class="alert alert-success" role="alert">
        {{ message }}
        </div>
        {% endif %}</th></tr>
    <tr><th colspan="2" style="color: red" class="table table-dark"><h3>Create Agent</h3></th></tr>
    <tr><th>Agent Name</th>
    <th><input type="text" required name="name"></th></tr>
    <tr><th>Password</th>
    <th><input type="password" required name="password"></th></tr>
    <tr><th>Date of Birth</th>
    <th><input type="date" required name="dateofbirth"></th></tr>
    <tr><th>Email</th>
    <th><input type="email" required name="email"></th></tr>
    <tr><th>Contact Number</th>
    <th><input type="number" required name="cno"></th></tr>
    <tr><th>Qualification</th>
    <th><input type="text" required name="quali"></th></tr>
    <tr><th>Address</th>
    <th><input type="text" required name="adress"></th></tr>
    <tr><th>Image</th>
    <th><input type="file" name="image"></th></tr>
    <tr><th colspan="2" ><br><button type="submit" class="btn btn-success">Create</button></th></tr>
</table>
    </form>

{% endblock %}