{% extends 'staff_menu.html' %}
{% block common %}
    {% load static %}

<br>
    <form action="/postsaved/" method="post">
        {% csrf_token %}

<table align="center"  >
    <tr><th class="table table-dark" colspan="2" style="color: red ;text-align: center"><h2> Add Job</h2></th></tr>
    <tr><th>Job</th>
    <th><input type="text" required name="job"></th></tr>
    <tr><th>Title</th>
    <th><input type="text" required name="name"></th></tr>
    <tr><th>Qualification</th>
    <th><input type="text" required name="qualification"></th></tr>
    <tr><th>Percentage</th>
    <th><input type="number" required name="percentage"></th></tr>
    <tr><th>Experience</th>
    <th><input type="text" required name="exp"></th></tr>
    <tr><th>Last Date</th>
    <th><input type="date" required name="lastdate"></th></tr>
    <tr><th>Location</th>
    <th><input type="text" required name="location"></th></tr>
    <tr><th>Salary</th>
    <th><input type="number" required name="salary"></th></tr>
    <tr>
    <th colspan="2" style="text-align: center"><button type="submit"class="btn btn-success">Post</button> </th></tr>
    <tr>
    <th colspan="2">
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
    </th>
    </tr>
</table>
        </form>


{% endblock %}