{% extends 'sideindex.html' %}
{% block common %}
    {% load static %}

    <br><br>
    <table align="center" border="0" class="table table-striped" style="width: 20cm">
        <tr><th colspan="6" style="color: red"><h2>Report</h2></th> </tr>
    <tr>
        <th>Agent Id</th>
        <th>Case Id</th>
        <th>Case Name</th>
        <th>Status</th>
        <th>Case Details</th>
    </tr>
        {% for x in data %}
            {% for y in file|slice:":1" %}
        <tr>
        <th>{{ x.agent_id }}</th>
        <th>{{ x.CaseCreation_Agent_id }}</th>
        <th>{{ x.CaseCreation_Agent__case_name }}</th>
        <th>{{ x.CaseCreation_Agent__status }}</th>
            <th><a href="{{ y.file.url }}" download>Download</a></th>

        </tr>
                {% endfor %}
        {% endfor %}
</table>

{% endblock %}