{% extends 'back.html' %}
{% block common %}
    {% load static %}
    <br>
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
  <table align="center" style="width: 10cm ;height: 7cm" class="table table-borderless table-dark">
      <tr><th colspan="2"><h2 style="color: red" align="center">Registration</h2></th></tr>
     <tr><th colspan="2">{{ form }}</th></tr>
     <tr><th colspan="2" style="text-align: center">
         <button type="submit" class="btn btn-primary">Submit</button>
     </th></tr>
     {% if messages %}
         {% for x in messages %}
     <tr><th colspan="2"><div class="alert alert-success" role="alert">
        {{ x }}
      </div></th></tr>
         {% endfor %}
     {% endif %}
  </table>
</form>
{% endblock %}