{% extends 'sideindex.html' %}
{% block common %}
    {% load static %}
    <br><br><br>
   <table align="center" border="0"  class="table table-striped" style="width: 20cm">
       <tr><th colspan="7" style="color: red"><h2>Agent Information</h2></th></tr>
   <tr>
      <th>Agent Id</th>
      <th>Agent name</th>
      <th>DOB</th>
      <th>CNO</th>
      <th>Email</th>
      <th>Image</th>
    </tr>

{% for x in data %}
    <tr bgcolor="#fffacd" id="y2">
    <th>{{ x.agent_id }}</th>
    <th>{{ x.Agent_Name }}</th>
    <th>{{ x.Dob }}</th>
    <th>{{ x.Contact_Number }}</th>
    <th>{{ x.Email }}</th>
    <th>
        <img src="{{ x.image.url }}" width="50" height="50">
        </th>
    </tr>
    {% endfor %}

</table>

{% endblock %}